@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Open+Sans:wght@400;600&family=Roboto+Slab:wght@300;400;500&display=swap');

:root{
  --accent-color: #000;
  --accent-golden: #e8c490;
  --primary-color:#000;
}

body {
  background: #fff;
  color: var(--primary-color);
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

h3{
  font-family: "Roboto Slab", serif;
}

h1, h2, h3{
  color: var(--primary-color);
}

p {
  margin: 0;
  font-size: 16px;
  text-align: justify;
}

.text-red {
  color: #E52B36 !important;
}

section {
  padding: 60px 0px;
}

header{
  background: var(--primary-color);
}

.uk-button-default {
  background-color: var(--accent-color);
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  border-color: var(--accent-golden);
}

.uk-button-default:focus, .uk-button-default:hover{
  border-color: #E52B36;
  color: #e52b36;
}

/*.site-logo__image {*/
/*  height: 94px;*/
/*  width: 123px;*/
/*}*/

.header-achievment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-achievment__icon {
  margin-right: 15px;
}

.header-achievment__icon svg {
  height: 48px;
  width: 48px;
}

.header-achievment__icon img {
  height: 80px;
}

.header-achievment__text {
  font-size: 14px;
}

.header-achievment__text b {
  font-size: bold;
}
.contact-us--button{
  color: var(--accent-golden);
}

.main-desktop-nav {
  border-top: 1px solid var(--accent-golden);
  border-bottom: 1px solid var(--accent-golden);
}
.main-desktop-nav .uk-dropdown{
  background-color: var(--primary-color);
}

.main-desktop-nav__li {
  line-height: 1;
}

.main-desktop-nav__link {
  min-height: 40px !important;
  text-transform: capitalize !important;
  font-weight: 500;
  -webkit-transition: color 0.4s cubic-bezier(0.86, 0, 0.07, 1) !important;
  transition: color 0.4s cubic-bezier(0.86, 0, 0.07, 1) !important;
  color: var(--accent-golden) !important;
}

.main-desktop-nav__link.active {
  color: #E52B36 !important;
}

.main-desktop-nav__link:hover {
  color: #E52B36 !important;
}

.uk-dropdown-nav>li.uk-active>a, .uk-dropdown-nav>li>a:focus, .uk-dropdown-nav>li>a:hover{
  color: #E52B36;
}

.mobile-header{
  display: none;
}

.mobile-navigation-container{
  display: none;
  position: fixed;
  z-index: 12;
  background: #fcfcfc;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.mobile-navigation-container__div{
  height: 100%;
  position: relative;
}

.mobile-navigation-container__div > ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px;
}
.mobile-navigation-container__div > ul > li{
  list-style: none;
  text-transform: capitalize;
  margin: 15px 0px ;
}
.mobile-navigation-container__div > ul > li > a{
  color: #999;
}
#mobile-menu-open{
  margin-top: 15px;
}
#mobile-menu-open svg{color: var(--accent-golden);}
.mobile-menu-open--container{
  margin-top: 15px;
}

#mobile-menu-close{
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
}
.mobile-navigation-container__div > ul > li > .uk-dropdown{left:50% !important;    transform: translateX(-42%);}

.mobile-menu-open--container{
  float: right;
}

/*.uk-slideshow-items > li > img {*/
/*  width: fit-content;*/
/*  height: fit-content;*/
/*}*/

.slideshow-nav-container {
  background: var(--accent-golden);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  bottom: 0;
  right: 00px;
  padding: 10px;
}

.slideshow-nav-container a.uk-icon-link {
  display: inline-block;
}
.slideshow-nav-container a.uk-icon-link polyline{
  color: var(--primary-color);
}

.slideshow-nav-container a.uk-icon-link:first-child {
  padding-right: 6px;
  border-right: 2px solid var(--primary-color);
}

.slider-overlay {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.88);
}

.slider-overlay h2 {
  font-weight: 700;
  font-size: 36px;
}

.slider-overlay p {
  font-size: 20px;
  font-style: italic;
}

.feature {
  background-color: var(--accent-golden) ;
}

.feature__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.feature__container p {
  text-align: center;
}

.feature__first-column {
  margin-left: 65px;
}

.feature__number {
  padding: 25px 40px;
  text-align: center;
}

.feature__number span {
  font-size: 38px;
  font-weight: 600;
}

.feature__number p {
  font-size: 24px;
}

.feature__number--first {
  position: relative;
}

.feature__number--first ::after {
  content: "";
  width: 2px;
  height: 80px;
  background-color: #020202;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feature__number--first ::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feature__number--fourth {
  position: relative;
}

.feature__number--fourth ::after {
  content: "";
  width: 2px;
  height: 80px;
  background-color: #020202;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.feature__number--fourth ::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #020202;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.feature__text {
  margin: auto 0;
  -ms-flex-line-pack: center;
      align-content: center;
}

.feature__text h1 {
  position: relative;
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  color: var(--primary-color);
}

.feature__text h1 span {
  font-weight: 700;
  color: #E52B36;
  font-size: 18px;
  position: absolute;
  top: -5px;
}

.feature__text button {
  margin-top: 25px;
  padding: 5px 45px;
  font-weight: 500;
  text-transform: capitalize;
}

.feature__text button:hover{
  background-color: var(--accent-color);
}

.product-list {
  background: var(--accent-color);
  padding-bottom: 0px;
}

.product-list li div{
  background-color: var(--accent-color);
  color: #fff;
  padding: 15px 10px;
}

.product-list h1 {
  text-align: center;
  text-transform: capitalize;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1.2px;
  font-size: 48px;
  font-weight: 400;
  color: var(--accent-golden);
}

.product-list .uk-slider-items li p {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: var(--accent-golden);
  padding-top: 15px;
}

.product-list .uk-slider-items li svg{
  display: block;
  margin: 0 auto;
  color: var(--accent-golden);
}

.product-list__slider-container {
  margin-top: 30px;
  padding-bottom: 30px;
}

.solutions{
  background-color: var(--accent-golden);
}

.solutions h1 {
  text-align: center;
  text-transform: capitalize;
  color: #020202;
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
}

.solutions img{
  min-height: 246px;
}

.solutions-heading-card h3 {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 28px;
}

.solutions-heading-card h3 span {
  color: #E52B36;
  font-weight: 700;
}

.solutions-heading-card p {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  margin-top: -10px;
}

.solutions-heading-card a.uk-button {
  background-color: var(--accent-color);
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
}

.footer {
  padding: 30px 0px;
  color: var(--accent-color);
}

.footer h4{
  font-size: 16px;
}

.footer a {
  font-size: 13px;
  position: relative;
  font-weight: 400;
  color: var(--accent-color);
  -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer a:focus {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}


.footer-contact-section {
  padding: 0px;
  margin: 0px;
}

.footer-contact {
  margin: 0 auto;
  text-align: center;
}

.footer-contact > div {
  margin: 0 auto;
  padding-left: 0px;
  padding: 60px;
  -webkit-transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* .footer-contact > div:hover {
  background-color: var(--accent-color);
  color: #fff;
} */

.footer-contact h2 {
  font-size: 16px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
}

.footer-contact h2 svg {
  margin-right: 10px;
  width: 60px;
}

.footer-contact p {
  font-weight: 500;
}

.footer-contact a {
  color: var(--accent-color);
}

.footer-logo-container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.footer-logo-container p {
  font-size: 12px;
}

.footer-logo-container > div:first-child{
  text-align: left;
  font-size: 12px;
}

.footer-logo-container > div:nth-child(2){
  text-align: center;
  margin-left: 128px;
}

.footer-logo-container > div:nth-child(3){
  text-align: right;
  font-size: 12px;
}

.aboutus-main-section {
  color: var(--accent-color);
  background-color: var(--accent-golden);
}

.aboutus-main-section .main-header {
  text-align: center;
}

.aboutus-main-section .main-header h1 {
  font-family: "Abril Fatface", cursive;
  margin-bottom: 0px;
  font-size: 48px;
  font-weight: 400;
}

.aboutus-main-section .main-header h4 {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 600;
}

.who-we-are {
  margin-top: 30px;
}

.who-we-are-content h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
}

.who-we-are-content p:not(:last-child) {
  margin-bottom: 20px;
}

.who-we-are-content p >b {
  font-size: 22px;
}

.who-we-are-img img {
  max-height: 500px;
  width: 100%;
}

.our-team {
  background: var(--accent-color);

}

.our-team h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  color: var(--accent-golden);
}

.our-team .section-heading-content {
  margin-top: -15px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}

.our-team .team-card-container {
  background: var(--accent-golden);
  padding: 10px;
}

.our-team .team-card-container img {
  width: 100%;
  height: auto;
}

.our-team .team-card-container p {
  font-size: 14px;
  color: #020202;
}

.our-infrastructure {
  background-color: var(--accent-golden);
}

.our-infrastructure h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
}

.our-infrastructure .section-heading-content {
  margin-top: -15px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}


.our-process {
  background-color: var(--accent-color);
  color: var(--accent-golden);
}

.our-process h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--accent-golden);
}

.our-process .section-heading-content {
  margin-top: -15px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}


.product {
  background: var(--accent-golden);
}

.product-content__image{
  display: flex;
  justify-content: center;
}

.product-content__image > img{
  max-height: 450px;
  border: 10px solid var(--primary-color);
}



.product-content::-webkit-scrollbar {
  background-color: transparent;
}

.product-content ::-webkit-scrollbar-thumb {
  background-color: red;
}

.product-content .content-title {
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 2px;
}

.product-content .content-subtitle{
  /*font-family: "Abril Fatface", cursive;*/
  font-size: 28px;
  font-weight: 500;
  color: #e42329;
  margin-top: 0;
  margin-bottom: 10px;
}

.product-content .product-short-description {
  font-size: 14px;
  font-weight: 500;
}

.product-content .product-short-description p {
  font-size: inherit;
}

.product-content .product-short-description p:not(:first-child) {
  margin-top: 15px;
}

.product-content .specification-icon-container {
  display: inline;
}

.product-content .specification-icon-container li {
  display: inline-block;
}

.product-content .specification-icon-container li img {
  width: 60px;
  height: 60px;
}

.product-specification {
  background-color: var(--accent-color);
  text-align: center;
}

.product-specification h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  color: var(--accent-golden);
  padding-bottom: 30px;
}

.product-specification p{
  color: #fff;
}

.product-specification button {
  margin-top: 40px;
}

.product-specification-logo {
  max-width: 900px;
  margin: 0 auto;
}

.product-specification .uk-button{
  color:var(--accent-golden);
}

.product-specification-logo .uk-card-body{
  background-color: var(--accent-golden);
}



.product-specification-logo li img {
  display: block;
  margin: 0 auto;
}

.connected-brand-slider {
  background-color: var(--accent-golden);
  text-align: center;
}
.connected-brand-slider svg{
  color: var(--primary-color);
}

.connected-brand-slider h1 {
  text-transform: capitalize;
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
}

.testimonial-slider {
  background-color: var(--primary-color);
  text-align: center;
}

.testimonial-slider h1 {
  text-transform: capitalize;
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
  color: var(--accent-golden);
}

.testimonial-slider .uk-slider .uk-slider-items .uk-card{
  background-color: var(--accent-golden);
  color: var(--primary-color);
}

.media-center{
  background-color: var(--accent-golden);
}
.media-container{
  background-color: var(--accent-golden);
}

.media-center-heading {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  color: var(--accent-color);
}

.media-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-nav li a{
  font-weight: 600;
}

.media-nav.uk-subnav-pill>*>:first-child{
  color: var(--accent-color);
}

.media-nav li.uk-active a {
  background-color: #E52B36;
}

.contact-us {
  background-color: var(--accent-golden);
  padding-left: 30px;
  padding-right: 30px;
}

.contact-us h1 {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 48px;
  font-weight: 400;
  color: var(--accent-color);
}

.contact-us form {
  max-width: 720px;
  margin: 0 auto;
}

.contact-us form input {
  background-color: #f6f6f6;
}

.contact-us form textarea {
  background-color: #f6f6f6;
}

.enquiry-tab{
  position: fixed;
  background: #e52b36;
  height: 50px;
  width: 120px;
  right: -80px;
  transform: translateY(-70%);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease-in;
  font-size: 16px;
}
.enquiry-tab__contact{
  top: 75%;
}

.enquiry-tab__enquiry{
  top: 83%;
}

.enquiry-tab a{
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  color: #fff;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px 5px;
  letter-spacing: 1px;
}

.enquiry-tab span.uk-icon svg{
  height: 30px;
  width: 30px;
}

.enquiry-tab a:hover{
  text-decoration: none;
}

@media (max-width: 500px) {
  .main-desktop-nav {
    display: none;
  }

  .footer-logo-container{
    flex-direction: column;
    margin-left: 5px;
  }

  .footer-logo-container > div:first-child{
    text-align: center;
    font-size: 12px;
    order: 2;
    margin: 0px auto;
  
  }
  
  .footer-logo-container > div:nth-child(2){
    text-align: center;
    order: 1;
    margin: 0 auto;
  }
  
  .footer-logo-container > div:nth-child(3){
    text-align: center;
    font-size: 12px;
    order: 3;
    margin: 0 auto;
  }

  .footer-logo-container > div{
    padding: 20px 0 0 0;
  }

  .mobile-navigation-container{
    display: none;
  }
  .mobile-header{
    display: block;
  }
  .desktop-header{
    display: none;
  }
  .feature__container{
    justify-content: center;
  }
  .feature__container p{
    text-align: center;
  }
  .feature__first-column{
    margin-left: 0px;
  }
  .feature__number--first ::before{
    display: none;
  }
  .feature__number--first ::after{
    display: none;
  }

  .feature__number--fourth ::after{
    display: none;
  }
  .feature__number--fourth ::before{
    display: none;
  }

  .our-infrastructure h2, .our-team h2, .our-process h2{
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */